In [12]:
import pandas as pd
df=pd.read_csv('schoolproformainvoicedatesandexamcount.csv',
              usecols=['School Name', 'Creation Date', 'Proforma Amount', 'Proforma Date','Invoice Amount', 'Invoice Date', 'Exam Series Created'])
date_col = pd.DatetimeIndex(df['Invoice Date'],dayfirst=True)
df['Month'] = date_col.month
df.groupby('Month')['Invoice Amount'].sum()
#df.head(10)

Month
1.0     27085680.0
2.0     37175665.0
3.0     27664622.0
4.0      3691385.0
5.0     17492920.0
6.0      9532518.0
7.0     15280307.0
8.0     20241056.0
9.0      8588551.0
10.0    14014861.0
11.0     8631063.0
12.0     3648265.0
Name: Invoice Amount, dtype: float64

In [20]:
import pandas as pd

datafile='zeraki_invoices_up_to_230618.csv'
#Code to check the encoding of datafile
#with open('zeraki_invoices_up_to_230618.csv') as f:
#    print(f)


df=pd.read_csv(f'{datafile}', encoding='utf-8')
datecol = pd.DatetimeIndex(df['INVOICE DATE'],dayfirst=True)
df['YEAR']=datecol.year
df['MONTH']=datecol.month
#df.dtypes
#df.columns
df.groupby('YEAR')['NET AMOUNT'].sum()

YEAR
2020    5.145550e+07
2021    1.067555e+08
2022    7.437852e+07
2023    7.289744e+08
Name: NET AMOUNT, dtype: float64